    
      body {
    background-color: #DDDDDD;
    padding: 5% 10%;
    font-family: Georgia, serif;
    
  
    
    }
    main{
      
    }

    
  

    h1 {
    text-transform: uppercase;
    text-shadow: 5px 5px 5px #af5858;
    text-align: center;
    font-size: 5rem;
    


    }
    
    h2 {
    text-transform: capitalize;
    font-style: italic;
    }
    
   
    .boks-tekst {
    padding: 10px 10%;
    margin: 25px 0;
    
    }
    
    .boks-tekst p {
    line-height: 1.6em;
    text-align: left;
    text-indent: 1em;
    color: #414141;
    padding: 0px;
  
    
  
    }
    
   
    
   
    .boks-tekst img {
    width: 40%;
    border: 0px solid #adaaaa;
    border-radius: 10%;
    }
    
    
    #box1 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box1 h2 {
    flex: 100%;
    }
    
    #box1 p {
    flex: 50%;
    padding-left: 3%;
    }

    #box2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box2 h2 {
    flex: 100%;
    }
    
    #box2 p {
    flex: 55%;
    padding-left: 3%;
    }
 
    
    #box3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box3 h2 {
    flex: 100%;
    }
    
    #box3 p {

    flex: 57%;
    padding-left: 3%;
    }
    #box4 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box4 h2 {
    flex: 100%;
    }
    
    #box4 p {
  
    flex: 57%;
    padding-left: 3%;
    }
    #box5 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box5 h2 {
    flex: 100%;
    }
    
    #box5 p {
    flex: 57%;
    padding-left: 3%;
    }  
    #box6 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    }
    
    #box6 h2 {
    flex: 100%;
    }
    
    #box6 p {
    /* also flex:1; */
    flex: 57%;
    padding-left: 3%;
    }
    
    /* Portrait and Landscape */
@media only screen 
and (min-device-width: 375px) 
and (max-device-width: 667px) 
and (-webkit-min-device-pixel-ratio: 2) { 

}
