html { scroll-behavior: smooth; }
* {
    box-sizing: border-box;
  }

body{ 
    background-color: #DDDDDD;
    padding: 5% 10%;
    font-family: Georgia, serif;
    margin: auto;

}

header{
  

}

h1{
    letter-spacing: 0.2em;
    font-family: 'death_starregular', serif;
    text-transform: uppercase;
    color: #222222;
    text-shadow: 5px 5px 5px #363636;
    text-align: center;
   font-size: 80px;
    

}


main {
    padding: 1px 1%;
    margin: 25px 0;
    box-shadow: 3px 4px 20px #363636;
    background-color: #FFFFFF;
    max-width: 900px;
    margin: auto;
    box-shadow: 30px 0px 40px rgba(0,0,0,1), 
    -30px 0px 40px rgba(0,0,0,0.1);
 
   
     

}

p{
    line-height: 1.5em;
    text-align: justify;
    text-indent: 1em;
    font-size: 30px;
   
}

.bilde-boks{
    max-width: 70ch;
    margin: 1rem auto;
    padding: 2 2rem;
    text-align: center;
    overflow: hidden;
    position: relative;
      
  

}
.bilde-boks img{
    width: 40%;
    
   
    
    
}
.bilde-boks figcaption{
    
    font-size: 1.5rem;
    padding: 0.8rem;
    margin-top: 0%;
    color: white;
    position: absolute;
    top: 50%;
    left: 50px;
    right: 0;
    transform: translateY(-200%);
    

    
}

#box1{
    display: inline-block;
    

}

#box1 p {
    display: inline;

  
  }
#box1 img {
    margin-right: 1em;
    float: left;
    height: 250px;
    width: 250px;

}


#box2{
    display: inline-block;

}

#box2 p {
    display: inline;
  
  }
#box2 img {
    margin-right: 1em;
    float: left;
    height: 200px;
    width: 200px;
}
#box3{
    display: inline-block;

}

#box3 p {
    display: inline;
  
  }
#box3 img {
    margin-right: 1em;
    float: left;
    height: 200px;
    width: 200px;
}
#box4{
    display: inline-block;

}

#box4 p {
    display: inline;
  
  }
#box4 img {
    margin-right: 1em;
    float: left;
}
#box5{
    display: inline-block;

}

#box5 p {
    display: inline;
  
  }
#box5 img {
    margin-right: 1em;
    float: left;
}
#box6{
    display: inline-block;

}

#box6 p {
    display: inline;
  
  }
#box6 img {
    margin-right: 1em;
    float: left;
}


@media  (min-width: 700px) {
    {

    }
}




@media  (min-width: 700px) {
    {

    }
}

